.twitter-analysis  {
    @media #{$small} {
        padding: 20px 50px;
        .info {
            width: 55%;
        }
        .illus {
            width: 40%;
            &.desktop {
                display: block !important;
            }
            &.tablet {
                display: none;
            }
        }
    }
    @media #{$mobile} {
        flex-direction: column;
        .info {
            order: 2;
        }
        .illus {
            order: 1;
        }

    }
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
        width: 100%;
        .contact {
            display: flex;
            align-items: center;
            button {
                margin-right: 10px;
            }
            a {
                margin-right: 10px;
                font-size: 15px;
                color: $link-color;
                
            }
        }
        .avatars {
            position: relative;
            margin-top: 15px;
            height: 50px;
            display: flex;
            align-items: center;
            img {
                position: absolute;
                &:nth-child(9) {
                    z-index: 1;
                    left: 0px;
                }
                &:nth-child(8) {
                    z-index: 11;
                    left: 20px;
                }
                &:nth-child(7) {
                    z-index: 111;
                    left: 40px;
                }
                position: absolute;
                &:nth-child(6) {
                    z-index: 1111;
                    left: 60px;
                }
                &:nth-child(5) {
                    z-index: 11111;
                    left: 80px;
                }
                //last for
                &:nth-child(4) {
                    z-index: 111111;
                    left: 100px;
                }
                &:nth-child(3) {
                    z-index: 1111111;
                    left: 120px;
                }
                position: absolute;
                &:nth-child(2) {
                    z-index: 11111111;
                    left: 140px;
                }
                &:nth-child(1) {
                    z-index: 111111111;
                    left: 160px;
                }
            }
        }
    }
    .illus {
        width: 100%;
        img {
            width: 100%;
            &.desktop {
                display: none;
            }
        }
    }

}

.features {
    @media #{$small} {
        padding: 20px 50px;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        grid-gap: 15px;
        h2 {
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .feature {
            &.feature-1 {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            &.feature-2 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            &.feature-3 {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            &.feature-4 {
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }  
    }
    @media #{$mobile} {
        .feature {
            margin-bottom: 10px;
        }
    }
    background-color: $white;
    padding: 20px 20px;
    .feature {
        padding: 15px;
        border: 1px solid $text-color;
    }
}
.customers {
    @media #{$small} {
        padding: 20px 50px;
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;
        grid-gap: 15px;
        h2 {
            grid-column: 1/4;
            grid-row: 1/2;
        }
        .customer {
            margin-bottom: 0 !important;
            &.customer-1 {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            &.customer-2 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            &.customer-3 {
                grid-column: 3/4;
                grid-row: 2/3;
            }

        }
    }
    .customer {
        padding: 15px;
        margin-bottom: 15px;
        background-color: $white;
        border-radius: 4px;
        .cus-pro {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .profile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                .name {
                    p {
                        margin: 0 !important;
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
            }
        }
        .feedback {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                margin-right: 10px;
                vertical-align: middle;
            }
            span {
                color: $text-color;
            }
        }
    }
    background-color: $sky-color;
    padding: 20px 20px;

}
.pricing {
    @media #{$small} {
        padding: 20px 50px !important;
    }
    padding: 20px 20px;
    background-color: $white;
    h2 {
        text-align: center;
    }
    & > p {
        text-align: center;
        margin-top: 0;
    }
    .pricing-box {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        border: 1px solid $border;
        border-radius: 4px;
        background-color: $price-bg;
        p {
            strong {
                font-size: 30px;
                color: $black;
            }
        }
        .offers {
            display: flex;
            align-items: flex-start;
            img {
                margin-right: 10px;
            }

        }
        button {
            width: 100%;
        }
    }
}